In [89]:
for rows in range(1,6):
    for spaces in range(rows,6):
        print(" ",end="")
    for stars in range(0,2*rows-1): #stars are changing in the format of 1,3,5,7,9 so 2*rows-1
        print("*",end="")
    print("\n")

     *

    ***

   *****

  *******

 *********

In [104]:
for rows in range(1,6):
    for spaces in range(0,rows):
        print(" ",end="")
        
    for stars in range(10,2*rows-1,-1):
        print("*",end="")
    print("\n")

 *********

  *******

   *****

    ***

     *

In [3]:
for rows in range(1,6):
    for space in range(rows,6):
        print(" ",end="")
        
    for nums in range(1,2*rows):
        print(nums,end="")
    print("\n")

     1

    123

   12345

  1234567

 123456789

In [6]:
for rows in range(1,6):
    for space in range(rows,6):
        print(" ",end="")
    
    for nums in range(1,2*rows):
        print(rows,end="")
        
    print("\n")

     1

    222

   33333

  4444444

 555555555

In [60]:
for rows in range(1,6):
    for space in range(0,rows):
        print(" ",end="")
        
    for i in range(9,2*rows-2,-1): #we need to print 9 to 1 so take 9 to 0 (ie 2*1-2=0 = 987654321)
        print(i,end="")
    print("\n")

 987654321

  9876543

   98765

    987

     9

In [69]:
for rows in range(1,6):
    for space in range(0,rows):
        print(" ",end="")
        
    for nums in range(9,2*rows-2,-1):
        print(rows,end="")
    print("\n")

 111111111

  2222222

   33333

    444

     5

In [107]:
for rows in range(1,6):
    for space1 in range(rows,6):
        print(" ",end=" ")
        
    for stars1 in range(1,2*rows):
        print("*",end=" ")
        
    print("\n")                   #half of the rombus is completed
    
for rows1 in range(1,6):    #another half of the rombus code is started from this line
        
    for space2 in range(0,rows1):
        print(" ",end=" ")
  
    for stars2 in range(10,2*rows1-1,-1):
        print("*",end=" ")
        
    print("\n")

          *

        * * *

      * * * * *

    * * * * * * *

  * * * * * * * * *

  * * * * * * * * *

    * * * * * * *

      * * * * *

        * * *

          *

In [112]:
for rows in range(1,6):
    for space1 in range(rows,6):
        print(" ",end=" ")
        
    for stars1 in range(1,2*rows):
        print(stars1,end=" ")
        
    print("\n")                   #half of the rombus is completed
    
for rows1 in range(1,6):    #another half of the rombus code is started from this line
        
    for space2 in range(0,rows1):
        print(" ",end=" ")
  
    for stars2 in range(9,2*rows1-2,-1):
        print(stars2,end=" ")
        
    print("\n")

          1

        1 2 3

      1 2 3 4 5

    1 2 3 4 5 6 7

  1 2 3 4 5 6 7 8 9

  9 8 7 6 5 4 3 2 1

    9 8 7 6 5 4 3

      9 8 7 6 5

        9 8 7

          9

In [1]:
for rows in range(1,6):
    for space1 in range(rows,6):
        print(" ",end=" ")
        
    for stars1 in range(1,2*rows):
        print(rows,end=" ")
        
    print("\n")                   #half of the rombus is completed
    
for rows1 in range(1,6):    #another half of the rombus code is started from this line
        
    for space2 in range(0,rows1):
        print(" ",end=" ")
  
    for stars2 in range(9,2*rows1-2,-1):
        print(rows1,end=" ")
        
    print("\n")

          1

        2 2 2

      3 3 3 3 3

    4 4 4 4 4 4 4

  5 5 5 5 5 5 5 5 5

  1 1 1 1 1 1 1 1 1

    2 2 2 2 2 2 2

      3 3 3 3 3

        4 4 4

          5